:root {
  --primary-color: #0f0b33;
  --secondary-color: #00d0b0;
  --first-color-text: #ffffffb3;
  --secondary-color-text: #22283199;
  --background-color: #222831;
  --secondary-background-color: #f5f5f5;
  --text-background-color: #ffffff;
  --font-playfair-display: 'Playfair Display', serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-dm-mono: 'DM Mono', monospace;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--text-background-color);
  font-size: 16px;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -------------  ***  ------------------*/

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* =HEADER= */
.header {
  height: 70px;
  color: var(--text-background-color);
  background-color: var(--background-color);
}
.container-header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  margin: 0 auto;
}
.link-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link-logo-color {
  font-weight: 700;
  margin-left: 6px;
  font-size: 12px;
  color: var(--text-background-color);
}
.modal-btn {
  margin-left: 40px;
  margin-right: 40px;
  width: 70px;
  height: 26px;
  padding: 6px 12px;
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 8px;
  border-radius: 15px;
  color: var(--primary-color);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--text-background-color);
  background-color: var(--secondary-color);
}
.menu-toggle {
  background-color: var(--background-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-color);
}
/* =PRIMARY= */
.primary {
  color: var(--text-background-color);
  background-color: var(--background-color);
}
.primary-background {
  background-image: url('/images/main_nav.png');
  background-size: cover;
  background-position: center;
}
.primary-title {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}
.primary-always {
  color: var(--secondary-color);
}
.primary-text {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.3px;
  color: var(--first-color-text);
}
.primary-contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  font-weight: 700;
  font-size: 10px;
  margin-top: 40px;
  line-height: 2.5;
  letter-spacing: 0.5em;
  text-decoration-line: underline;
  color: var(--secondary-color);
}
.arrow {
  padding-left: 20px;
}
/* =SERVICE= */
.services {
  background-color: var(--secondary-background-color);
}
.services-subtitle {
  color: var(--secondary-color);
  font-family: var(--font-dm-mono);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.services-title {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.services-text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.3px;
  margin-bottom: 60px;
  color: var(--secondary-color-text);
}
.services-block {
  text-align: center;
}
.service-name {
  margin-bottom: 10px;
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.750316px;
}
.service-item-text {
  margin-bottom: 60px;
  color: var(--secondary-color-text);
}
.services-icon {
  margin: 0 auto 20px;
}
/* =ABOUT US= */
.about-us {
  color: var(--text-background-color);
  background-color: var(--background-color);
}
.about-us-background {
  background-image: url('/images/main-nav@2x.png');
  background-size: cover;
  background-position: left;
}
.about-us-subtitle {
  color: var(--secondary-color);
  font-family: var(--font-poppins);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.about-us-title {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.about-us-text {
  font-size: 16px;
  line-height: 160%;
  /* or 13px */
  letter-spacing: 0.3px;
  margin-bottom: 60px;
  color: var(--first-color-text);
}
.about-us-btn {
  margin: 0 auto 80px;
  background-color: var(--secondary-color);
  color: var(--text-background-color);
}
.about-us-btn:hover,
.about-us-btn:focus {
  color: var(--primary-color);
  background-color: var(--text-background-color);
}
.about-us-photo {
  margin-bottom: 60px;
}
/* =swiper= */
.swiper {
  width: 320px;
}
.swiper-title {
  margin: 40px auto;
  padding: 0 10px;
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.swiper-text {
  font-size: 12px;
  line-height: 160%;
  /* or 13px */
  letter-spacing: 0.3px;
  margin-bottom: 60px;
  padding: 0 10px;
  color: var(--first-color-text);
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--secondary-color);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--secondary-background-color);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--secondary-color);
}
.swiper-slide-active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.photo-swiper {
  margin: auto;
  width: 85px;
  height: 85px;
}
/* =OUR TEAMS= */
.our-teams-title {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  color: var(--background-color);
  margin-bottom: 40px;
}
.our-teams-text {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.3px;
  color: var(--secondary-color-text);
}
.examples-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.3px;
  color: var(--background-color);
}
.our-teams-examples-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.our-teams-examples-text {
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
/* =FOOTER= */
.footer {
  height: 170px;
  color: var(--text-background-color);
  background-color: var(--background-color);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 100px;
}
.menu-contact {
  text-decoration: none;
  color: var(--text-background-color);
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: 10px;
  line-height: 2.5;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
}
.social-item {
  padding-right: 10px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .container-header {
    width: 320px;
  }
  .services-photo {
    width: 320px;
    margin: -168px auto 80px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  .container-header {
    width: 480px;
  }
  .link-logo-color {
    font-size: 16px;
  }
  .modal-btn {
    margin-left: 140px;
    width: 88px;
    height: 38px;
    font-size: 10px;
  }
  .services-photo {
    width: 480px;
    margin: -188px auto 80px;
  }
  .swiper {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .menu-nav,
  .examples {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container-header {
    width: 768px;
  }
  .nav-logo {
    display: flex;
  }
  .link-logo-color {
    font-size: 20px;
  }
  .menu-nav {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    margin-right: auto;
    font-size: 12px;
    line-height: 1.5;
    align-items: center;
  }
  .menu-link {
    text-decoration: none;
    color: var(--text-background-color);
  }
  .menu-toggle {
    display: none;
  }
  .primary {
    padding-bottom: 200px;
  }
  .primary-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
  }
  .primary-title {
    width: 50%;
    font-size: 40px;
  }
  .primary-block {
    width: 48%;
  }

  .primary-text {
    margin-top: 0;
    font-size: 17px;
  }
  .primary-contact {
    justify-content: flex-start;
    font-size: 10px;
    margin-top: 35px;
  }
  .services-photo {
    width: 768px;
    margin: -228px auto 110px;
  }
  .services-subtitle {
    font-size: 14px;
  }
  .services-block-title {
    display: flex;
    gap: 40px;
  }
  .services-title {
    width: 45%;
    font-size: 26px;
  }
  .services-text {
    width: 50%;
  }
  .services-block {
    display: flex;
    justify-content: space-between;
  }
  .services-block li {
    width: 240px;
  }
  .service-name {
    font-size: 28px;
  }
  .service-item-text {
    font-size: 20px;
  }
  .modal-btn {
    width: 148px;
    height: 48px;
    font-size: 12px;
    margin-left: auto;
    margin-right: 0;
  }
  .about-us-block-title {
    display: flex;
    justify-content: space-between;
  }
  .about-us-block {
    width: 40%;
  }
  .about-us-photo {
    width: 50%;
  }
  .about-us-subtitle {
    font-size: 14px;
  }
  .about-us-text {
    font-size: 15px;
  }
  .about-us-btn {
    margin-left: 0;
  }
  .swiper {
    width: 510px;
  }
  .swiper-title {
    font-size: 20px;
  }
  .swiper-text {
    font-size: 20px;
    padding-top: 60px;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
  .photo-client {
    margin: auto;
  }
  .our-teams-title {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .our-teams-text {
    width: 670px;
    margin: auto;
  }
  .our-teams-examples-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .examples-client {
    display: flex;
    justify-content: space-between;
  }
  .examples-client li {
    width: 150px;
    text-align: center;
  }
  .footer {
    height: 318px;
  }
  .footer-container {
    padding-top: 230px;
  }
  .menu-contact {
    font-size: 14px;
  }
  /* .our-teams-examples-title {
    font-size: 20px;
    font-weight: 700px;
    color: var(--background-color);
  } */
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .container-header {
    width: 1280px;
  }
  .menu-nav {
    font-size: 14px;
    gap: 42px;
    margin-left: 250px;
    margin-right: auto;
  }
  .primary {
    padding-bottom: 320px;
  }
  .primary-title {
    font-size: 64px;
    text-align: left;
    width: 588px;
  }
  .primary-contact {
    font-size: 12px;
  }
  .primary-block {
    width: 490px;
  }
  .services {
    padding-bottom: 400px;
  }
  .services-photo {
    width: 1200px;
    margin: -320px auto 180px;
  }
  .services-subtitle {
    font-size: 16px;
  }
  .services-title {
    font-size: 32px;
  }
  .services-block-title {
    gap: 80px;
    margin-bottom: 78px;
  }
  .services-block li {
    width: 384px;
  }
  .about-us {
    padding-top: 135px;
  }
  .about-us-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .about-us-subtitle {
    font-size: 16px;
  }
  .our-teams {
    padding-top: 150px;
    padding-bottom: 240px;
  }
  .examples-client li {
    width: 202px;
    text-align: center;
  }
  .footer-container {
    padding-left: 0;
    padding-right: 0;
  }
}

/*--------------------- modal window (begine)------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 47, 66, 0.4);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms var(--cubic-bezier);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 250mc var(--cubic-bezier);
}
.icon-link {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #000000;
  background-color: var(--text-background-color-footer);
  border: 1px solid rgb(0, 0, 0, 0.1);
  transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}
.icon-link:hover,
.icon-link:focus {
  color: #ffffff;
  background-color: var(--background-focus-btn);
}
.icon-close {
  fill: currentColor;
}
.form-mw {
  padding: 72px 16px 24px;
}
.form-mw p {
  color: var(--primary-color);
  margin-bottom: 16px;
}
.form-field-mw {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}
.form-field-mw:not(:last-child) {
  margin-bottom: 8px;
}
.form-field-mw label {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 4px;
  color: #8e8f99;
}
.form-field-mw input {
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: inherit;
  outline: transparent;
  transition: border-color 250ms var(--cubic-bezier);
}
textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms var(--cubic-bezier);
}
.form-field-mw textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.button-mw {
  display: inline;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-bottom: 0px;
  background-color: var(--accent-color-logo);
  transition: background-color 250ms var(--cubic-bezier);
}
.button-mw:hover,
.button-mw:focus {
  background-color: var(--background-focus-btn);
}
.name-mw-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  width: 22px;
  height: 24px;
  color: var(--primary-color);
  transition: color 250ms var(--cubic-bezier);
}
.form-field-mw:focus-within > .name-mw-icon {
  color: var(--accent-color-logo);
}
.form-field-mw input:focus {
  border-color: var(--accent-color-logo);
}
.form-field-mw textarea:focus {
  border-color: var(--accent-color-logo);
}
.privacy-policy {
  margin: 16px 0px 24px;
  color: #8e8f99;
}
.privacy-policy label {
  color: #757575;
  font-size: 12px;
  line-height: 1.33px;
}
.privacy-policy-text {
  color: var(--accent-color-logo);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.label {
  display: flex;
  align-items: center;
}
.label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--primary-color);
  border-radius: 2px;
}
.checkbox:checked + .label::before {
  border-color: #404bbf;
  background-color: #404bbf;
  background-image: url(../images/icon/SVG/click.svg);
  background-size: contain;
  background-origin: border-box;
}
