:root {
  --primary-color: #0f0b33;
  --secondary-color: #00d0b0;
  --first-color-text: #ffffffb3;
  --secondary-color-text: #22283199;
  /* --accent-color-logo: #4d5ae5; */
  /* --accent-color-btn: #188ce8; */
  --background-color: #222831;
  --secondary-background-color: #f5f5f5;
  --text-background-color: #ffffff;
  /* --second-logo-color: #2e2f42; */
  /* --footer-logo-color: #f4f4fd; */
  /* --background-focus-btn: #404bbf; */rgba(15, 11, 51, 0.7)
  --font-playfair-display: 'Playfair Display';
  --font-dm-sans: 'DM Sans';
  --font-dm-mono: 'DM Mono';
  --font-nunito-sans: 'Nunito Sans';
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  background-color: var(--text-background-color);
  font-size: 16px;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  /* border-radius: 15px; */
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -------------  ***  ------------------*/

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* =HEADER= */
.header {
  height: 70px;
  color: var(--text-background-color);
  background-color: var(--background-color);
}
.container-header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  margin: 0 auto;
}
.link-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link-logo-color {
  margin-left: 6px;
  font-size: 12px;
    color: var(--text-background-color);
}
.modal-btn {
  margin-left: 40px;
  margin-right: 40px;
  width: 70px;
  height: 26px;
  padding: 6px 12px;
  font-size: 8px;
  border-radius: 15px;
  color: var(--primary-color);
}
.menu-toggle {
  background-color: var(--background-color);
}
/* =PRIMARY= */
.primary {
  color: var(--text-background-color);
  background-color: var(--background-color);
}
.primary-title {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
}
.primary-always {
  color: var(--secondary-color);
}
.primary-text {
  margin-top: 40px;
  font-family: var(--font-dm-sans);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 13px */
  letter-spacing: 0.3px;
  color: var(--first-color-text);
}
.primary-contact {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  text-decoration: none;
  font-size: 10px;
  margin-top: 40px;
  color: var(--secondary-color);
}
.arrow {
  padding-left: 20px;
}
/* =SERVICE= */
.services {
  background-color: var(--secondary-background-color);
}
.subtitle {
  color: var(--secondary-color);
  font-family: var(--font-dm-mono);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 20px;
}
.services-title {
  font-family: var(--font-playfair-display);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
}
.services-text {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 13px */
  letter-spacing: 0.3px;
  margin-bottom: 60px;
  color: var(--secondary-color-text);
}
.services-block {
  text-align: center;
}
.service-name {
  margin-bottom: 10px;
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.750316px;
}
.service-item-text {
  margin-bottom: 60px;
  color: var(--secondary-color-text);
}
.services-icon {
  margin: 0 auto 20px;
}
/* =ABOUT US= */
.about-us {
  color: var(--text-background-color);
  background-color: var(--background-color);
}
.about-us-title {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
}
.about-us-text {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 13px */
  letter-spacing: 0.3px;
  margin-bottom: 60px;
  color: var(--first-color-text);
}
.about-us-btn {
  margin: 0 auto 80px;
  background-color: var(--secondary-color);
}
.about-us-photo {
  margin-bottom: 60px;
}
/* =swiper= */
.swiper {
  width: 320px;
}
.swiper-title {
  margin: 40px auto;
  padding: 0 10px;
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.swiper-text {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 13px */
  letter-spacing: 0.3px;
  margin-bottom: 60px;
  padding: 0 10px;
  color: var(--first-color-text);
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--secondary-color);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--secondary-background-color);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--secondary-color);
}
.swiper-slide-active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.photo-swiper {
  margin: auto;
  width: 85px;
  height: 85px;
}
/* =OUR TEAMS= */
.our-teams-title {
  font-family: var(--font-playfair-display);
  font-weight: 700;
  font-size: 30px;
  line-height: 160%;
  /* or 80px */
  text-align: center;
  margin-bottom: 40px;
}
.our-teams-text {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  text-align: center;
  letter-spacing: 0.3px;
  color: var(--secondary-color-text);
}
/* =FOOTER= */
.footer {
  height: 170px;
  color: var(--text-background-color);
  background-color: var(--background-color);
  }
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 100px;
}
.menu-contact {
    text-decoration: none;
  color: var(--text-background-color);
  font-family: var(--font-dm-sans);
font-weight: 500;
font-size: 10px;
line-height: 250%;
/* or 35px */
display: flex;
align-items: center;
letter-spacing: -0.03em;
}
.social-item {
  padding-right: 10px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .container-header {
    width: 320px;
  }
  .services-photo {
    width: 320px;
    margin: -168px auto 80px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  .container-header {
    /* width: 340px; */
  }
}
@media screen and (max-width: 767px) {
  .menu-nav,
  .examples {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .menu-toggle {
    display: none;
  }
  .services-photo {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  /* .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  } */
  .container-header {
    width: 1280px;
  }
}

/*--------------------- modal window (begine)------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 47, 66, 0.4);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms var(--cubic-bezier);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fcfcfc;
  transition: transform 250mc var(--cubic-bezier);
}
.icon-link {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #000000;
  background-color: var(--text-background-color-footer);
  border: 1px solid rgb(0, 0, 0, 0.1);
  transition: background-color 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}
.icon-link:hover,
.icon-link:focus {
  color: #ffffff;
  background-color: var(--background-focus-btn);
}
.icon-close {
  fill: currentColor;
}
.form-mw {
  padding: 72px 16px 24px;
}
.form-mw p {
  color: var(--primary-color);
  margin-bottom: 16px;
}
.form-field-mw {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}
.form-field-mw:not(:last-child) {
  margin-bottom: 8px;
}
.form-field-mw label {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 4px;
  color: #8e8f99;
}
.form-field-mw input {
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: inherit;
  outline: transparent;
  transition: border-color 250ms var(--cubic-bezier);
}
textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms var(--cubic-bezier);
}
.form-field-mw textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.button-mw {
  display: inline;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-bottom: 0px;
  background-color: var(--accent-color-logo);
  transition: background-color 250ms var(--cubic-bezier);
}
.button-mw:hover,
.button-mw:focus {
  background-color: var(--background-focus-btn);
}
.name-mw-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  width: 22px;
  height: 24px;
  color: var(--primary-color);
  transition: color 250ms var(--cubic-bezier);
}
.form-field-mw:focus-within > .name-mw-icon {
  color: var(--accent-color-logo);
}
.form-field-mw input:focus {
  border-color: var(--accent-color-logo);
}
.form-field-mw textarea:focus {
  border-color: var(--accent-color-logo);
}
.privacy-policy {
  margin: 16px 0px 24px;
  color: #8e8f99;
}
.privacy-policy label {
  color: #757575;
  font-size: 12px;
  line-height: 1.33px;
}
.privacy-policy-text {
  color: var(--accent-color-logo);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.label {
  display: flex;
  align-items: center;
}
.label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--primary-color);
  border-radius: 2px;
}
.checkbox:checked + .label::before {
  border-color: #404bbf;
  background-color: #404bbf;
  background-image: url(../images/icon/SVG/click.svg);
  background-size: contain;
  background-origin: border-box;
}
